/* MAIN PAGE BACKGROUND */
.faq-page {
  background: var(--bg-dark);
  padding: 70px 0;
}

/* SECTION TITLES */
.faq-heading {
  font-size: 1.9rem;
  color: var(--text-white);
  margin-bottom: 25px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255,255,255,0.12);
  display: inline-block;
  padding-bottom: 6px;
}

/* FAQ GROUP WRAPPER */
.faq-group {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* EACH FAQ ITEM */
.faq-item {
  margin-bottom: 8px;
}

/* QUESTION ROW STYLE */
.faq-question-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

.faq-question-row:hover h4 {
  color: var(--primary-light);
}

.faq-question-row h4 {
  font-size: 1.40rem;
  color: var(--text-white);
  font-weight: 500;
  transition: 0.2s ease;
}

/* CHEVRON ICON */
.chevron {
  font-size: 1.3rem;
  color: var(--text-light);
  transition: 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

/* FINAL ANSWER BOX WITH DARK BORDER */
.faq-answer {
  background: var(--bg-dark-2);
  border: 1px solid var(--primary);   
  color: var(--text-light);
  font-size: 1.20rem;
  line-height: 1.65;
  padding: 15px 18px;
  border-radius: 10px;
  margin: 10px 0 18px 0;
}


/* THIN DIVIDER LINE */
.faq-divider {
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.25); 
}
